body {
	background:#ffffff;
	font-family:verdana;
	color:#555555;
	padding:0;
	margin:0;
}
header {
	text-align:center;
}
.nav-menu {
	position:static;
	background:#abd5ec;
	text-align:center;
}
.nav-link,.nav-link:visited {
	color:#ffffff;
	text-decoration:none;
	padding:3px;
}